
.main{
    margin-left: 240px;
    justify-content: center;
}
.container{
    display: inline-block;
}
.card{
    display: inline-block;
    position: relative; 
    text-align: center;
    border: 1px;
    border-style: double;
    height: 400px;
    width: 241px;
    margin: 10px;
}

#pics{
    margin-top: 19px;
    background-color: rgb(237, 240, 243);
    padding: 30px;
}
.card > p{
    text-align: left;
    margin-left: 4px;
    font-family:Menlo;
    font-size: 13px;
    font-weight:600;
}

.card p:hover{
    color: #B12704;
    cursor: pointer;
}

#star{
    display: inline;
    float: left;
    margin-left: 4px;
    width: 30%;
}
#choice{
    position: absolute;
    top: 0px;
}

img{
    width: 100%;
}
img:hover{
    transform: scale(1.3);
    transition: all .5s ease-in-out;
    cursor: pointer;
}



